{{!--
  Renders details about a single response
  @param {Response} response a swagger response-object
--}}

{{! If global is set, attach an id to the table row }}

<div class="row">
  <div class="col-md-12">
    {{md response.description}}
  </div>
</div>
<div class="row">
  {{#each response.examples}}
    <div class="col-md-6 sw-response-examples">
      <div class="label label-default">Example for {{@key}}</div>
      {{json .}}
    </div>
  {{/each}}
</div>

{{#if response.schema}}
  <div class="row body-content">
    <div class="col-md-6 sw-response-model">
      {{#if response.schema.title}}
        {{>swagger/model model=response.schema title=response.schema.title}}
      {{else}}
        {{#if response.schema.$ref}}
          {{>swagger/model model=response.schema}}
        {{else}}
          {{>swagger/model model=response.schema title='Body Schema'}}
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}

  {{#if response.headers}}
<div class="row">
    <div class="col-md-12">
      <section class="sw-response-headers">
        <table class="table">
          <thead>
          <tr>
            <th class="sw-response-header-name"></th>
            <th class="sw-response-header-description"></th>
            <th class="sw-response-header-data-type"></th>
          </tr>
          </thead>
          <tbody>
          {{#each response.headers}}
            {{#if $ref}}
              {{> swagger/responseHeaderRow header=(json-schema--resolve-ref $ref) name=@key}}
            {{else}}
              {{> swagger/responseHeaderRow header=. name=@key}}
            {{/if}}
          {{/each}}
          </tbody>
        </table>
      </section>
    </div>
</div>
  {{/if}}
